# Project for TinyClues MLE Internship
<br/> 
I quickly present in this notebook my proposal for the project 
<br/>
<br/>
Recommendations according to the type of movies :

In [1]:
import sys
sys.path.append(sys.path[0][:len(sys.path[0])-5])
from similarity.similarity_cat import *
import os

path=r'path to data'
path=r'C:/Users/luthe/Documents/AI/Tinyclues_test/Tinyclues_recommandation_algorithm/data'

items_filename='movies.csv'
ratings_filename='ratings.csv'
users_filename='users.csv'

items_path=os.path.join(path, items_filename)
ratings_path=os.path.join(path, ratings_filename)
users_path=os.path.join(path, users_filename)

items=pd.read_csv(items_path)
ratings=pd.read_csv(ratings_path)
users=pd.read_csv(users_path)

item_keys='movie_id'

test=Recommendation_cat(items, users, ratings, categories=get_item_cat(), item_keys=item_keys)
user_id=np.random.randint(0,len(users))
test.get_recommendations(user_id)

    movie_id                                           title  similarity
0       1178  Star Wars: Episode V - The Empire Strikes Back         3.0
1       1545                                       G.I. Jane         3.0
27      2072                               American Tail, An         3.0
26      2033                                Steamboat Willie         3.0
25      2012                             Little Mermaid, The         3.0

Even if we have not a lot of data about users let's make a clustering on the users' profiles in order to give recommendations based on similar profiles and similar type of films.

In [3]:
from similarity.similarity_profile import *

test=Recommendation_profile(items, users, ratings, categories=get_item_cat(), item_keys=item_keys, user_keys='user_id')
user_id=np.random.randint(0,len(users))
test.get_recommendations(user_id)

    movie_id                         title  similarity
20      1998                Doctor Zhivago         4.0
14      1204             Full Metal Jacket         3.0
15      2903  Red Sorghum (Hong Gao Liang)         3.0
27       964           Farewell to Arms, A         3.0
26       149                       Rob Roy         3.0

Obviously for a deeper study, I would compare performances between methods (I would need to define metrics to do that), test performances of the code, and test o